<nav>
    <a href="/" class="logo">C<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/animat-day-night.gif"
                id="logofork" alt=""></span>&nbsp;deQuery</a>




    <input type="checkbox" id="click">
    <label for="click" class="menu-btn">
        <i class="fa fa-bars"></i>
    </label>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/qa">Q&A</a></li>
        <li><a href="/about">About</a></li>
        {{#if user}}
        <li><a href="/home" class="btn btn-primary" style="background-color: green;"> {{user}} </a></li>
        <li><a href="/logout" class="btn btn-danger">Logout</a></li>
        {{/if}}
    </ul>
</nav>