@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../images/header.svg');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.container {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,10%);
    width: 400px;
    min-height: 400px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
    padding: 40px 30px;
}

.container .login-text {
    color: #111;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
}

.container .login-social {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    margin-bottom: 25px;
}

.container .login-social a {
    padding: 12px;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    color: rgb(0, 0, 0);
    transition: .3s;
}

.container .login-social a i {
    margin-right: 5px;
}

.container .login-social a.facebook {
    background: #4267B2;
}

.container .login-social a.twitter {
    background: #1DA1F2;
}

.container .login-social a.google-plus {
    background: #db4a39;
}

.container .login-social a.linkedin {
    background: #0e76a8;
}

.container .login-social a.facebook:hover {
    background: #3d5fa3;
}

.container .login-social a.twitter:hover {
    background: #1991db;
}

.container .login-social a.google-plus:hover {
    background: #ca4334;
}

.container .login-social a.linkedin:hover {
    background: #0b5c81;
}

.container .login-email .input-group {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}

.container .login-email .input-group input {
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;
}

.container .login-email .input-group input:focus, .container .login-email .input-group input:valid {
    border-color: #a29bfe;
}

.container .login-email .input-group .btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #a29bfe;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
}

.container .login-email .input-group .btn:hover {
    transform: translateY(-5px);
    background: #6c5ce7;
}

.login-register-text {
    color: #111;
    font-weight: 600;
}

.login-register-text a {
    text-decoration: none;
    color: #6c5ce7;
}

@media (max-width: 430px) {
    .container {
        width: 300px;
    }
    .container .login-social {
        display: block;
    }
    .container .login-social a {
        display: block;
    }
}


.card-img-top{
  margin: 15px;
  border-radius: 35px;
}

nav{
    display: flex;
    height: 80px;
    width: 100%;
    background: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    z-index: 1;
  }
  nav .logo{
    color: #000;
    font-size: 35px;
    font-weight: 600;
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    color: #2b2727;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  nav ul li a.active,
  nav ul li a:hover{
    color: rgb(255, 255, 255);
    background: #6c5ce7;
  }
  nav .menu-btn i{
    color: #000;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
  @media (max-width: 1000px){
    nav{
      padding: 0 40px 0 50px;
    }
  }
  @media (max-width: 920px) {
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      z-index: 2;
      position: fixed;
      top: 80px;
      left: -100%;
      background: #111;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a{
      color: #fff;
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
      background: none;
      color: cyan; 
    }
  }
  
  #logofork{

    width: 90px;
    height: 81px;
    position: absolute;
    top: 0;
    left: 61px;
  }



  @media screen and (max-width:700px) {
    #logofork{
      width: 90px;
      height: 81px;
      position: absolute;
      top: 0;
      left: 61px;
    }
    
  }

  @media screen and (min-width:1000px) {
    #logofork{
      width: 90px;
      height: 81px;
      position: absolute;
      top: 0;
      left: 110.5px;
    }
    
  }

  @media screen and (min-width:320px) and (max-width:350px){
nav .logo{
  font-size: 28px;
}

#logofork {
  width: 73px;
  height: 72px;
  position: absolute;
  top: 5px;
  left: 58px;
}
  }




  footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: none;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
    top: 96%;
    
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: #000;
  padding: 20px 2px;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: rgb(11, 114, 114);

}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}


@media screen and (min-width:320px) and (max-width:641px) {
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: none;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: rgb(255, 255, 255);
    top: 83%;
    
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: #000;
  padding: 20px 2px;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
}


#welfoot{
position: relative;
top: 80%;
}
/* Saravana */
  #cat{
   padding: 50px; 
} 
.card{
  margin: 30px;
  box-shadow: -40px -20px #0e76a8;

}
 .card img{ 
   margin-right: 30px;
  /* padding: 15px; */
  /* padding-right: 20px; */
  border-radius: 40px;
  height: 500px;
  width: 500px;
  transition: 0.5s;
  border: 1px solid black;
}  
.card img:hover{

  /* opacity: 0.4; */
  margin: 40px;
  border: 4px solid #0e76a8;
  
  /* margin-right: 56px; */
}

/* footer:hover{
  color: #196e95;
} */
.logout-btn{
  border-radius: 5px;
  background-color:#ff0000;
  padding: 5px;
  color: white;
  font-weight: 700;
}

.dummy-qn-form{
  background-color: rgb(224, 199, 199);
  
}

.dummy-qn-body , .empty-msg{
  color:white;
}

a{
  text-decoration: none;
}
.dummy-badge{
  color: #fff;
  background-color: rgb(48, 47, 47);
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 5px;
}