




<h1 style="color: white;">HOME PAGE</h1>

<a href="/test" style='background-color:red;color:white;padding:5px;text-decoration:none;border-radius :5px;'>Session test</a>


<a href="/home/dummy" 
style='background-color:green;color:white;padding:5px;text-decoration:none;border-radius :5px;'>Dummy Page</a>







