<div class="container0">
	<form action="/login" method="POST" class="login-email" >
		<p class="login-text" style="font-size: 2rem; font-weight: 800;">Login :)</p>
		<div class="input-group">
			<input type="email" placeholder="Email" name="email"  required>
		</div>
		<div class="input-group">
			<input type="password" placeholder="Password" name="password" 
				required>
		</div>
		{{#if errorMessage}}
			<p style="color: red;" > {{errorMessage}} </p>
		{{/if}}
		
		<div class="input-group">
			<input type="submit" class="btn" value="Login">
		</div>
		<p class="login-register-text">Don't have an account? <a href="/register">Register Here</a>.</p>
	</form>
</div><br><br><br><br><br>