<div class="d-flex flex-row-reverse">

    <div class="welcome-container">
        <h1 class="welcome-text"  >Welcome &nbsp; to &nbsp; CodeQuery</h1>
        <p class="welcome-desc" >The final destination for all your tech doubts</p>

        {{!-- <a href="">ASK A QUESTION</a> --}}

        <div class="button-container">
            <a class="btn btn-primary me-3" href="/login">Login</a>
            <a class="btn btn-success"  href="/register">Register</a>
        </div>
        
    </div>
    <div class="fade" ></div>
    <div class="elon"></div>
</div>



