<div style="color: white;display:inline;" >
    <div>
        <a style="color: white" href="/home/dummy/categories/artificialintelligence">Artificial Intelligence</a>
    </div>
    <div>
        <a style="color: white" href="/home/dummy/categories/cybersecurity">Cyber Security</a>
    </div>
    <div>
        <a style="color: white" href="/home/dummy/categories/softwaretesting">Software Testing</a>
    </div>
    <div>
        <a style="color: white" href="/home/dummy/categories/webdev">Web Development</a>
    </div>

</div>